<app-action-bar></app-action-bar>
<app-loader *ngIf="isLoading"></app-loader>

<ScrollView>
  <StackLayout>
    <GridLayout>
      <StackLayout>
        <StackLayout orientation="vertical">
          <GridLayout height="250">
            <Carousel
              #restaurantCarousel
              debug="false"
              [items]="restaurant.gallery"
              height="100%"
              width="100%"
              color="white"
              android:indicatorAnimation="worm"
              indicatorColor="#fff"
              indicatorOffset="0, -10"
              showIndicator="true"
            >
              <CarouselItem
                *ngFor="let image of restaurant.gallery"
                verticalAlignment="middle"
              >
                <GridLayout>
                  <image [src]="image" stretch="aspectFill" loadMode="async"></image>
                </GridLayout>
              </CarouselItem>
            </Carousel>
          </GridLayout>

          <label [text]="restaurant.name"></label>
          <label [text]="restaurant.description"></label>
          <label [text]="restaurant.address"></label>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
        <StackLayout>
          <MapView
            #miniMapView
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="zoom"
            [minZoom]="minZoom"
            [maxZoom]="maxZoom"
            [bearing]="bearing"
            [tilt]="tilt"
            [padding]="padding"
            (mapReady)="onMapReady($event)"
            height="200"
          ></MapView>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>

<!-- TODO: Sekcja komentarzy, sekcja z tagami i kuchnią, sekcja z oceną -->
