<app-action-bar></app-action-bar>
<app-loader *ngIf="isLoading"></app-loader>

<ScrollView>
  <StackLayout>
    <GridLayout>
      <StackLayout>
        <StackLayout orientation="vertical">
          <!-- TODO: Slider ze zdjęciami restauracji -->
          <Image
            *ngFor="let image of restaurant.gallery"
            [src]="image"
            loadMode="async"
            stretch="aspectFit"
          ></Image>

          <label [text]="restaurant.name"></label>
          <label [text]="restaurant.description"></label>
          <label [text]="restaurant.address"></label>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
        <StackLayout>
          <MapView
            #miniMapView
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="zoom"
            [minZoom]="minZoom"
            [maxZoom]="maxZoom"
            [bearing]="bearing"
            [tilt]="tilt"
            [padding]="padding"
            (mapReady)="onMapReady($event)"
            height="200"
          ></MapView>
        </StackLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</ScrollView>

<!-- TODO: Sekcja komentarzy, sekcja z tagami i kuchnią, sekcja z oceną -->
