@import "../../../app-variables";
//TODO: Ładniej by można... może wydzielić do zmiennych/komponentów/globals?

.page {
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.form__header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: $bottleGreen;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  placeholder-color: $inputPlaceholderColor;
}

.login-label {
  horizontal-align: center;
  color: $inputPlaceholderColor;
  font-size: 16;
}

.sign-up-label {
  margin-bottom: 20;
}
