<app-action-bar></app-action-bar>

<FlexboxLayout class="page" alignItems="center" justifyContent="center">
  <StackLayout class="form" [formGroup]="loginForm">
    <Label class="form__header" text="LOGOWANIE" *ngIf="signInMode"></Label>
    <Label class="form__header" text="REJESTRACJA" *ngIf="!signInMode"></Label>

    <StackLayout class="input-field">
      <TextField
        class="input"
        formControlName="email"
        hint="Adres e-mail"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        returnKeyType="next"
      ></TextField>
      <StackLayout class="hr-light"></StackLayout>

      <StackLayout *ngIf="email.invalid && (email.dirty || email.touched)">
        <Label
          *ngIf="email.errors.required"
          class="text-danger"
          text="To pole jest obowiązkowe."
        ></Label>
        <Label
          *ngIf="email.errors.email"
          class="text-danger"
          text="To nie jest prawidłowy adres e-mail."
        ></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="input-field">
      <TextField
        [returnKeyType]="signInMode ? 'done' : 'next'"
        class="input"
        hint="Hasło"
        secure="true"
        formControlName="password"
      ></TextField>
      <StackLayout class="hr-light"></StackLayout>

      <StackLayout *ngIf="password.invalid && (password.dirty || password.touched)">
        <Label
          *ngIf="password.errors.required"
          class="text-danger"
          text="To pole jest obowiązkowe."
        ></Label>
        <Label
          *ngIf="password.errors.minlength && !signInMode"
          class="text-danger"
          text="Hasło powinno mieć co najmniej 6 znaków."
        ></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout *ngIf="!signInMode" class="input-field">
      <TextField
        class="input"
        hint="Powtórz hasło"
        formControlName="confirmPassword"
        secure="true"
        returnKeyType="done"
      ></TextField>
      <StackLayout class="hr-light"></StackLayout>

      <StackLayout *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
        <Label
          *ngIf="confirmPassword.errors.required"
          class="text-danger"
          text="To pole jest obowiązkowe."
        ></Label>
        <Label
          *ngIf="confirmPassword.errors.notMatching && !signInMode"
          class="text-danger"
          text="Hasła nie są identyczne."
        ></Label>
      </StackLayout>
    </StackLayout>

    <Button
      [text]="signInMode ? 'Zaloguj się' : 'Zarejestruj się'"
      [isEnabled]="loginForm.valid"
      (tap)="submit()"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label
      *ngIf="signInMode"
      (tap)="forgotPassword()"
      text="Zapomniałeś hasła?"
      class="login-label"
    ></Label>
  </StackLayout>

  <Label class="login-label sign-up-label" (tap)="toggleForm()">
    <FormattedString>
      <Span
        [text]="signInMode ? 'Nie masz konta? ' : 'Wróć do logowania'"
      ></Span>
      <Span [text]="signInMode ? 'Zarejestruj się!' : ''" class="bold"></Span>
    </FormattedString>
  </Label>
</FlexboxLayout>

<app-loader *ngIf="this.backendService.isLoading"></app-loader>
