<RadSideDrawer [drawerTransition]="sideDrawerTransition">
  <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
    <GridLayout columns="80, *" verticalAlignment="center" class="sidedrawer-header">
      <Label col="0" class="sidedrawer-header-image" *ngIf="this.isUserLoggedIn"></Label>
      <StackLayout col="1" verticalAlignment="center">
          <Label class="sidedrawer-header-brand" [text]="this.user.displayName" *ngIf="this.user"></Label>
          <Label class="footnote" [text]="this.user.email" *ngIf="this.user"></Label>
      </StackLayout>
    </GridLayout>

    <ScrollView row="1" class="sidedrawer-content">
      <StackLayout>
        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          [ngClass]="{ selected: isComponentSelected('/home') }"
          (tap)="onNavItemTap('/home')"
        >
          <Label col="0" text="&#xf3c5;" class="fas label-icon"></Label>
          <Label col="1" text="Mapa restauracji"></Label>
        </GridLayout>

        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          *ngIf="this.isUserLoggedIn"
          [ngClass]="{ selected: isComponentSelected('/my-restaurants') }"
          (tap)="onNavItemTap('/my-restaurants')"
        >
          <Label col="0" text="&#xf005;" class="fas label-icon"></Label>
          <Label col="1" text="Moje restauracje"></Label>
        </GridLayout>

        <StackLayout class="hr-light"></StackLayout>

        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          *ngIf="!this.isUserLoggedIn"
          [ngClass]="{ selected: isComponentSelected('/login') }"
          (tap)="onNavItemTap('/login')"
        >
          <Label col="0" text="&#xf007;" class="fas label-icon"></Label>
          <Label col="1" text="Zaloguj się"></Label>
        </GridLayout>

        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          *ngIf="this.isUserLoggedIn"
          [ngClass]="{ selected: isComponentSelected('/settings') }"
          (tap)="onNavItemTap('/settings')"
        >
          <Label col="0" text="&#xf013;" class="fas label-icon"></Label>
          <Label col="1" text="Ustawienia"></Label>
        </GridLayout>

        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          *ngIf="this.isUserLoggedIn"
          [ngClass]="{ selected: isComponentSelected('/') }"
          (tap)="this.backendService.logout()"
        >
          <Label col="0" text="&#xf2f5;" class="fas label-icon"></Label>
          <Label col="1" text="Wyloguj się"></Label>
        </GridLayout>

        <GridLayout
          columns="45, *"
          class="sidedrawer-list-item"
          [ngClass]="{ selected: isComponentSelected('/about') }"
          (tap)="onNavItemTap('/about')"
        >
          <Label col="0" text="&#xf128;" class="fas label-icon"></Label>
          <Label col="1" text="O aplikacji"></Label>
        </GridLayout>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  <page-router-outlet
    tkMainContent
    class="page page-content"
    actionBarVisibility="never"
  ></page-router-outlet>
</RadSideDrawer>
