// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// SideDrawer styles
.sidedrawer {
  .sidedrawer-header {
    background-color: $darkSeaGreen;
    background-image: url('~/assets/images/drawer_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .sidedrawer-header-image {
      margin-bottom: 5;
      background-image: url('~/assets/images/default_avatar.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .sidedrawer-header-brand {
        color: $white;
    }

    .footnote {
        color: $white;
    }
  }

  .sidedrawer-content {
    .sidedrawer-list-item {
      min-height: 75px;

      label {
        font-size: 20px;
        vertical-align: center;
        padding-left: 10;
      }

      &.selected {
        background-color: $myrtleGreen;

        label {
          color: $white;
        }
      }
    }
  }
}

// Button styles
.btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background-color: $myrtleGreen;
  border-radius: 5;
  font-size: 20;
  font-weight: 600;
}

// Text styles
.bold {
  color: $black;
}

// FontAwesome styles
.fa {
  font-family: "Font Awesome 5 Free", "fa-regular-400";
}

.fas {
  font-family: "Font Awesome 5 Free", "fa-solid-900";
}

.label-icon {
    text-align: center;
}

// Form Styles
.page {
  flex-direction: column;
}

.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.form__header {
  horizontal-align: center;
  font-size: 25;
  font-weight: 600;
  margin-bottom: 70;
  text-align: center;
  color: $bottleGreen;
}

.input-field {
  margin-bottom: 25;
}

.input {
  font-size: 18;
  placeholder-color: $inputPlaceholderColor;
}

// Info Window Styles
.info-window-title {
  font-size: 20;
  font-weight: 600;
}

.info-window-title,
.info-window-address {
  padding: 0 5;
}

.info-window-button {
  background-color: $myrtleGreen;
  color: $white;
}